@model IEnumerable<JqUiMvc.Models.TaskStep>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Book Briefing</h3>
    </div>
    <div class="panel-body">
        <div class="btn-group-vertical">
            @foreach ( var s in Model.OrderBy(i=>i.Sequence) )
            {
                <button type="button" class="btn btn-default">@s.Name</button>
            }
        </div>
    </div>
    <div class="panel-footer">
        Panel footer
    </div>
</div>

