@model JqUiMvc.Models.VisitInfoViewModel
@section Styles
{
    <style>
        div {
            border: solid 1px black;
        }
    </style>
}
<div class="row">
    @using (Html.BeginForm("VisitInfo_SAC", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", area = "" }))
    {
        <input type="hidden" id="storeStart"> @*BeCalendarDialogs.js looks here for data when User clicks OK*@
        <input type="hidden" id="storeEnd">
        
        <div class="form-group">
            <label class="control-label col-md-2">Start/End Time:</label>
            <div class="col-md-5">
                <div id="fullSlider"></div>
                <span id="fullSliderText">X - Y</span>
            </div>
            <div class="col-md-2">
                <input type="submit" value="Show Available Dates" class="btn btn-primary btn-sm" />
            </div>
        </div>
    }
    <div id="fullCalendar"></div>
</div>
<script type="text/javascript">
    function ToTime(totMins) {
        var hours = parseInt(totMins / 60, 10);
        var mins = parseInt(totMins % 60, 10);

        return hours + ":" + (mins<10?"0":"") + mins;
    }
    $(function () {
        console.log("_VisitSelectDateFull");

        function StoreVals() {
            var dateText = $("#fullCalendar").datepicker().val()
            console.log(dateText);
            var totMins = $("#fullSlider").slider("option", "values");

            var hours = parseInt(totMins[0] / 60, 10);
            var mins = parseInt(totMins[0] % 60, 10);

            var fixDate = new Date(dateText);
            fixDate.setHours(hours);
            fixDate.setMinutes(mins);
            $("#storeStart").val(fixDate);

            hours = parseInt(totMins[1] / 60, 10);
            mins = parseInt(totMins[1] % 60, 10);

            fixDate = new Date(dateText);
            fixDate.setHours(hours);
            fixDate.setMinutes(mins);
            $("#storeEnd").val(fixDate);

            console.log('storeStart='+ $("#storeStart").val());
            console.log($("#storeEnd").val());
        }

        ///////////////////////////////////////////////////////////////////////////////////////////////
        // Full Day
        $("#fullSlider").slider({
            range: true,
            min: 360, // 6:00am
            max: 1439,// 23:59
            step: 15, // 15 min intervals
            values: [600, 900],
            slide: function (event, ui) {
                var texted = ToTime( ui.values[0] ) + " - " + ToTime ( ui.values[1] );
                $("#fullSliderText").html(texted);
                StoreVals();
            }
        });
        $("#fullCalendar").datepicker({
            numberOfMonths: 2,
            onSelect: function (dateText, inst) {
                StoreVals();
            }
        });
    });
</script>
