@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutJustScripts.cshtml";
}
@section Styles{
    <style>
        /* IE has layout issues when sorting (see #5413) */
        .group {
            zoom: 1;
        }
        .agendaPalette {
            /*position: relative;*/
            width: 300px;
            float: left;
            /*height: 200px;*/
            /*display: inline;*/
        }

        .agendaDay {
            width: 400px;
            height: 100%;
            min-height: 100px;
            float: left;
            /*margin-top: 1em;*/
            margin-left: 1em;
            display: inline;
        }
        /* style the list to maximize the droppable hitarea */
        #day1 ol {
            margin: 0;
            padding: 0; /*1em 0 1em 3em;*/
        }

        #button {
            padding: .5em 1em;
            text-decoration: none;
        }

        #effect {
            position: relative;
            /*width: 240px;
        height: 135px;
        padding: 0.4em;*/
        }
    </style>
}
<h2>Agenda</h2>
<div class="container">
    @*<div class="CCCrow">*@
    <button id="button" class="ui-state-default ui-corner-all">Show</button>
    <div class="Xcol-md-12">
        <div class="agendaPalette ">
            @*<div id="effect" class="ui-widget-content ui-corner-all">*@
            <div id="agendaCategories">
                @foreach (var cat in ViewBag.AgendaCats)
                {
                    <h2>@cat.Name</h2>
                    <div>
                        <ul class="list-group">
                            @foreach ( var top in cat.Items)
                            {
                                <li class="list-group-item" data-id="@top.ID">@top.Name</li>
                            }
                        </ul>
                    </div>
                }
                <h2><a href="#">Public Sector MCB</a></h2>
                <div>
                    <ul class="list-group">
                        <li class="list-group-item" data-id="1">Federal Government Overview</li>
                        <li class="list-group-item" data-id="3">Lenovo Education Strategy</li>
                        <li class="list-group-item" data-id="5">Vista / One Note</li>
                    </ul>
                </div>
                <h2><a href="#">Corporate Information</a></h2>
                <div>
                    <ul class="list-group">
                        <li class="list-group-item" data-id="2">''Prepping for Showtime''- How to Get the Most Out of Your Customer Visit</li>
                        <li class="list-group-item" data-id="4">A Secondlife Virtual Briefing Center</li>
                        <li class="list-group-item" data-id="6">An Event at Chicago's Museum of Science & Industry</li>
                    </ul>
                </div>
                <h2><a href="#">Management Overview</a></h2>
                <div>
                    <ul class="list-group">
                        <li class="list-group-item" data-id="7">Arrival (15 min)</li>
                        <li class="list-group-item" data-id="8">Next Steps (10 min)</li>
                        <li class="list-group-item" data-id="9">Sit-down Lunch (60 min)</li>
                    </ul>
                </div>
            </div>
            @*</div>*@
        </div>

        <div id="day1" class="agendaDay">
            <h3 class="ui-widget-header">Day 1</h3>
            <p class="placeholder">Add your items here</p>
            <div id="accordion1">
            </div>
        </div>
    </div>
    @*</div>*@
</div>
@section Scripts{
    <script>
        AgendaItem = function (item) {
            var name = item.text();
            var droppedID = item.data('id');
            var ai =$('<div/>', { class: 'group' })
                    .append($('<h4/>', { text: name }))
                    .append($('<p/>', { text: droppedID }));

            return ai;
        }

        function addAgendaItem(item) {
            var ai = AgendaItem(item);
            $('#accordion1').append(ai);
        }
        $(function () {
            $("#button").click(function () {
                var options = {};
                $(".agendaPalette").toggle("slide", options, 500);
            });

            $("#agendaCategories").accordion({
                collapsible: true
            });
            $("#agendaCategories li").draggable({
                appendTo: "body",
                helper: "clone"
            });
            
            $("#day1").droppable({
                //activeClass: "ui-state-default",
                hoverClass: "ui-state-hover",
                accept: ":not(.ui-sortable-helper)",
                drop: function (event, ui) {
                    $(this).find(".placeholder").remove();
                    var droppedID = ui.draggable.data('id');
                    
                    addAgendaItem(ui.draggable);
                    //$('#accordion1').accordion("detroy"); // <-- destroy
                    //$("#accordion1").accordion({
                    //    collapsible: true,
                    //    header: 'h4'
                    //});
                    $("#accordion1").accordion('refresh');
                }
            });
            $("#accordion1").accordion({
                collapsible: true,
                header: "> div > h4"
            }).sortable({
                axis: "y",
                handle: "h4",
                stop: function (event, ui) {
                    // IE doesn't register the blur when sorting
                    // so trigger focusout handlers to remove .ui-state-focus
                    ui.item.children("h4").triggerHandler("focusout");

                    // Refresh accordion to handle new order
                    $(this).accordion("refresh");
                }
            });
            $("#testAccord").accordion({
                collapsible: true,
                header: "> div > h4"
            }).sortable({
              axis: "y",
              handle: "h4",
              stop: function (event, ui) {
                  // IE doesn't register the blur when sorting
                  // so trigger focusout handlers to remove .ui-state-focus
                  ui.item.children("h4").triggerHandler("focusout");

                  // Refresh accordion to handle new order
                  $(this).accordion("refresh");
              }
          });
        }); // <-- $(function () {
    </script>
}
