@model JqUiMvc.Models.TaskViewModel
@using JqUiMvc.Models
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12 beDiv">
        @Html.Partial("_Sortables")
    </div>
</div>
@section Scripts{
    <script>
        $(function () {
            $("#sortable").sortable();
            $("#sortable").disableSelection();
        });
    </script>
}